/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
/* @import url('./vite-promo.css'); */
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  height: 200px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container{
    box-sizing: border-box;
    width: 408px;
    height: auto;
    border: 1px red solid;
    margin: 0 auto;
    padding: 24px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

.form-textarea {
  border: 1px solid #808080;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 16px;
}

.form-btn {
  border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
      border: none;
}
